 h1{
    background-image: url("HackDrewImage.jpg");
    background-size: auto;
    color: #456b89;
    font-family: courier;
    font-size: 1000%;
    line-height: 600px;
    height: 650px;
    margin-top: auto;
    text-align:center;
    margin-bottom: auto;
    width: 100%;
}
h2 {
    background-color:#4CAF50;
    color: white;
    font-family: courier;
    font-size: 200%;
    margin-top: auto;
    text-align: center;
    margin-bottom: auto;
    <!-- this is the start of what creates the nav bar= -->
}
h3 {
    background-color:#4CAF50;
    color: white;
    font-family: courier;
    font-size: 200%;
    text-align: center;
    <!--this creates the different features and setting in the third header, FAQ= -->
}
h4 {
    background-color:#4CAF50;
    color: white;
    font-family: courier;
    font-size: 200%;
    text-align: center;
    margin-bottom: auto;
    <!--this creates the different features and setting in the fourth header, but first
    one that pops up in the web page, About Us= -->
}
