<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HackDrew</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>
#maincontent{
  background-image: url('static/img/HackDrewImage.jpg');
  width: 100%;
  height: 700px;
}#maincontent #border{
   border: 5px solid gray;
   background-color: black;
     width: 50%;
     opacity: 0.8;
     align-items: center;
     /*height: 60%;*/
     padding-top: 50px;
     padding-bottom: 50px
}.changeColor {
   color: black;
 }
</style>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand" href="#page-top">HD</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#schedule">Schedule</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#FAQ">FAQs</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <center><div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <img class="img-responsive" src="static/img/HackDrewImage.jpg" alt="" > -->
                    <div class="intro-text" id="border">
                        <h1 style="color: white;" class="name">HackDrew</h1>
                        <hr class="star-primary">
                        <span style="color: white;" class="skills">April 23, 2017 - Madison, NJ</span>
                        <br>
                    </div>
                    <br>
                    <br>
                    <a href="https://jhonatancruz.typeform.com/to/Vh1kAr" class="btn-lg btn-danger">Register</a>
                </div>
            </div>
        </div></center>
    </header>


    <!-- About Section -->
     <!-- class="success" in order to make the background green-->
    <section  id="about">
        <center><div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>HackDrew is a 10-hour hackathon at Drew University, hosted by the Drew Engineering Club. We welcome Drew students to join us in
                    building awesome software and hardware projects. </p>
                </div>
                <div class="col-lg-4">
                    <p> We encourage beginner and advanced hackers alike to challenge themselves and
                    expand their skills. We'll have free food, swag, workshops, mentorship, prizes, games and more.</p>
                </div>
            </div>
        </div></center>
    </section>

    <section class="success" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Schedule</h2>
                      <hr class="star-light">
                </div>
            </div>
            <div class="col-lg-1 col-lg-offset-3">
                <p><span class='changeColor'>10:00AM</span></p>
                  <p><span class='changeColor'>10:30AM</span></p>
                    <p><span class='changeColor'>11:00AM</span></p>
                      <p><span class='changeColor'>12:00AM</span></p>
                        <p><span class='changeColor'>1:00PM</span></p>
                          <p><span class='changeColor'>2:00PM</span></p>
                            <p><span class='changeColor'>3:00PM</span></p>
            </div>
            <div class="col-lg-2">
                  <p>Registration</p>
                    <p>Breakfast</p>
                      <p>Hacking Begins</p>
                        <p>Hacking</p>
                          <p>Lunch</p>
                            <p>Hacking</p>
                              <p>Hacking</p>

            </div>
              <div class="col-lg-1 col-lg-offset-1">
                <p><span class='changeColor'>4:00PM</span></p>
                  <p><span class='changeColor'>5:00PM</span></p>
                    <p><span class='changeColor'>6:00PM</span></p>
                      <p><span class='changeColor'>7:00PM</span></p>
                        <p><span class='changeColor'>8:00PM</span></p>

              </div>
              <div class="col-lg-2">
                    <p>Hacking</p>
                      <p>Dinner</p>
                        <p>Hacking</p>
                          <p>Judging Starts</p>
                            <p>Close Ceremony</p>

              </div>
          </div>
    </section>

    <section  id="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>FAQs</h2>
                    <hr class="star-primary">
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-0">
                  <center><h3>What is a Hackathon?</h3></center>
                    <p>HackDrew is a 10-hour hackathon at Drew University, hosted by the Drew Engineering Club. We welcome Drew students to join us in
                    building awesome software and hardware projects. </p>
                </div>
                <div class="col-lg-4">
                  <center><h3>What should I bring?</h3></center>
                    <p> Yourself, your laptop, and your creativity!</p>
                </div>
                <div class="col-lg-4">
                  <center><h3>Where is it?</h3></center>
                    <p> HackDrew will be located in LC-30 and LC-28 this year! If you need help getting there, shoot us an email.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <center><h3>What if I've never been to a Hackathon?</h3></center>
                    <p> We encourage beginner and advanced hackers alike to challenge themselves and
                    expand their skills. We'll have free food, swag, workshops, mentorship, prizes, games and more.</p>
                </div>
                <div class="col-lg-4">
                  <center><h3>Who can come?</h3></center>
                    <p> Any Drew student that has an idea and is interested in creating an application or game with either hardware or software.</p>
                </div>
                <div class="col-lg-4">
                  <center><h3>Still have questions?</h3></center>
                    <p> Email jcruz3@drew.edu</p>
                </div>

            </div>
    </section>

    <!-- Footer -->
    <center><footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h3>Location</h3>
                        <p>36 Madison Ave, LC-30 & LC-28
                            <br>Madison, NJ, 07940</p>
                    </div>
    </footer></center>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/freelancer.min.js"></script>

</body>

</html>
